﻿@model Brand


<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input class="form-control" id="name" placeholder="Brand name" asp-for="Name" value="@Model.Name">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <div>@ViewBag.ErrorMessage</div>
</form>