﻿@model Category
@{
}


<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input class="form-control" id="categoryName" placeholder="Category name" asp-for="Name">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <div>@ViewBag.MailResultMessage</div>
</form>